/* === Index - Carousel === */

.w-100{
    height: auto;
    @include desktop{
        height: 50vh;
        width: 80% !important;
      }
}

@media (min-width: 1200px) {
    .section__carousel{
        display: flex;
        flex-direction: column;   
    }
    div .carousel-item.active{
        margin-left: 10%;
        
    }
}